@import url(//fonts.googleapis.com/earlyaccess/hanna.css);

.form {
    width: 100vw;
    min-height: 105vh;
    background-color: #f3f2f1;
    position: relative;
}

.form .assignment-form {
    max-width: 610px;
    width: 90%;
    max-height: 90%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 0 0 30px rgba(200,200,200,0.4);
    padding: 50px 40px;
}

.form h1 {
    font-size: 25px;
    font-weight: 200;
    letter-spacing: 10px;
    padding: 0px 0px 40px 160px;
}

.btn-file, .btn-json, .btn-ajax{
    margin-top: 10px;
    width: 99.6%;
    padding: 12px 0;
    background-color: #2b333f;
    border: 1px solid #2b333f;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-serverPaging, .btn-dhtmlxPaging {

    margin-top: 10px;
    width: 49.6%;
    padding: 12px 0;
    background-color: #2b333f;
    border: 1px solid #2b333f;
    color: #fff;
    font-size: 18px;
    letter-spacing: 2px;
    transition: all .3s;
}

.btn-file:hover, .btn-serverPaging:hover, .btn-dhtmlxPaging:hover, .btn-ajax:hover {
    background-color: #fff;
    color: #2b333f;
}

td, tr{
    text-align: center;
}

.dbFile {
    padding: 0 0 20px 220px;
}

.btn-back {
    padding: 0 0 0 468px;
}

#gridbox {

    height: 370px !important;
    width: 526px !important;
}

#startPage, #prevPage, #nextPage, #maxPage, #pageNum{

    cursor : pointer;
    display: inline-block;
}

#pageNum > div {

    display : inline-block;
    padding: 20px 8px 0 8px
}

.bold{

    color : red;
}